
<section id="hero" class="mb-4" >
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(https://www.letudiant.fr/uploads/mediatheque/ETU_ETU/4/0/2300440-adobestock-105092598-original.jpeg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenue Chez <span>  TuniRent</span></h2>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <input type="text"  class="form-control form-control-lg" placeholder="chercher votre studio">
              </div>
              <div class="col-lg-4">
                <button  [routerLink]="['/create-advert']" class="btn btn-primary btn-lg" >Proposer votre propre annonce</button>
              </div>
            </div>

            <p></p>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->



    </div>

  </div>
</section>

<button [routerLink]="['/adverts']" type="button" class="button btn btn-dark">Voir tout </button>
