<div class="w-75 mx-4 my-4 d-flex text-center p-5 ">
  <select  class="form-select mx-2">
    <option value="">--Veuillez selectez l'option de triage--</option>
    <option value="date">Date</option>
    <option value="loyer">Loyer</option>
    <option value="superficie">Superficie</option>
    <option value="nbChambre">Nombre de chambres</option>
  </select>
  <select  class="form-select mx-2">
    <option value="">--Veuillez selectez l'option de l'ordre--</option>
    <option value="asc">Ascendant</option>
    <option value="desc">Descendant</option>
  </select>
  <input
    type="text"
    class="form-control mx-4"
    placeholder="search"
    aria-label="Username"
    aria-describedby="basic-addon1"

  /></div>
