<div class="row">
  <div class="col-md-6 mx-auto p-0">
    <div class="card">
      <div class="login-box mt-5">
        <div class="login-snip">
          <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset password</label>

          <div class="login-space">
            <form >
              <div class="login">
                <div class="group">
                  <label for="user" class="label">E-mail</label>
                  <input id="user" type="text" class="input" placeholder="Entrez votre email" formControlName="username">
                </div>
                <div class="group">
                  <label for="pass" class="label">Mot de passe</label>
                  <input id="pass" type="password" class="input" data-type="password" placeholder="Entrez votre mot de passe" formControlName="password">
                </div>

                <div class="group">
                  <button type="submit" class="button">Envoyer</button>
                </div>
                <div class="hr"></div>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


