
<div class="row my-4 mx-4">

  <div class=" border rounded-1 mt-5 pb-2">
    <label class="my-4" for="ecoleInput">Entrez la zone de recherche :</label>
    <form class="col-md-4 d-flex justify-content-between" >
      <input type="text" class="form-control w-75" placeholder="recherche ..." id="ecoleInput" formControlName="ecoleInput" aria-describedby="basic-addon1">
      <button type="submit" class="btn btn-success">Filter</button>
    </form>
  </div>

  <div class="  border rounded-1 mt-5" >
    <div class="my-4" id="map"></div>
  </div>
  <div>

    <!-- <input ngForm="searchQuery" ngModel="search"> -->
  </div>
</div>
