<header id="header" class="fixed-top mt-0" >
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a><span>Tuni</span>Rent</a>
    </h1>

    <nav *ngIf="isLoggedIn()" id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a [routerLink]="['']" >Accueil</a></li>

        <li class="dropdown">
          <a [routerLink]="['/carte']"><span>Carte</span> <i class="bi bi-chevron-down"></i
          ></a>
        </li>


        <li class="dropdown">
          <a [routerLink]="['/home']" *ngIf="!isLoggedIn()">
            <span>Se connecter</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <a [routerLink]="['/auth']" (click)="onLogoutClick()" *ngIf="isLoggedIn()">
            <span>Se déconnecter</span>
            <i class="bi bi-chevron-down"></i>
          </a>
        </li>
<!--        <ng-container *ngIf="isLoggedIn(); else notLoggedIn">-->
<!--          &lt;!&ndash; If logged in, show Logout &ndash;&gt;-->
<!--          <li><a (click)="onLogoutClick()" >Logout</a></li>-->
<!--        </ng-container>-->

<!--        <ng-template #notLoggedIn>-->
<!--          &lt;!&ndash; If not logged in, show Se connecter &ndash;&gt;-->
<!--          <li><a [routerLink]="['/auth']">Se connecter</a></li>-->
<!--        </ng-template>-->

        <li>
          <a >Profile</a>
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
