<header id="header" class="fixed-top mt-0" >
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a><span>Tuni</span>Rent</a>
    </h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a [routerLink]="['']" >Acceuil</a></li>

        <li class="dropdown">
          <a [routerLink]="['/carte']"><span>Carte</span> <i class="bi bi-chevron-down"></i
          ></a>
        </li>


        <li><a [routerLink]="['/auth']">Se connecter</a></li>

        <li>
          <a >Profile</a>
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
